<footer class="foot">
  <div class="wrap">
    <div class="foot__grid">
      <div class="foot__brand">
        <a class="brand" href="{{root}}"><img src="{{root}}img/icon.svg" alt="" width="24" height="24">zsasa</a>
        <p>High-performance solvent accessible surface area calculation in Zig.</p>
      </div>
      <div>
        <span class="label">Docs</span>
        <ul>
          <li><a href="{{doc:getting-started}}">Getting Started</a></li>
          <li><a href="{{doc:guide/choosing-tool}}">Guides</a></li>
          <li><a href="{{doc:cli/commands}}">CLI Reference</a></li>
        </ul>
      </div>
      <div>
        <span class="label">API</span>
        <ul>
          <li><a href="{{doc:python-api/index}}">Python API</a></li>
          <li><a href="{{doc:zig-api/autodoc}}">Zig API</a></li>
          <li><a href="{{doc:benchmarks/index}}">Benchmarks</a></li>
        </ul>
      </div>
      <div>
        <span class="label">More</span>
        <ul>
          <li><a href="https://doi.org/10.64898/2026.06.29.733683">Preprint</a></li>
          <li><a href="{{doc:citation}}">Citation</a></li>
          <li><a href="https://github.com/N283T/zsasa">GitHub</a></li>
          <li><a href="https://pypi.org/project/zsasa/">PyPI</a></li>
        </ul>
      </div>
    </div>
    <div class="foot__legal label">
      <span>© 2026 zsasa contributors</span>
      <span>MIT License</span>
    </div>
  </div>
</footer>
<script src="{{root}}assets/site.js" defer></script>
